[submodule "currency-service/src/main/resources/static/currency-api"]
	path = currency-service/src/main/resources/static/currency-api
	url = git@ssh.dev.azure.com:v3/cleverpine/CP%20Internship%2007-2023/currency-api
