[submodule "transactions-service/src/main/resources/static/transactions-api"]
	path = transactions-service/src/main/resources/static/transactions-api
	url = git@ssh.dev.azure.com:v3/cleverpine/CP%20Internship%2007-2023/transactions-api
